[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"

[dev-packages]
pytest = "*"
black = "==21.6b0"
pylint = "*"
pytest-pylint = "*"

[requires]
python_version = "3.9"
